body {
    font-family: 'Raleway', sans-serif;
    color: rgb(2, 53, 53);
    background-color: plum;
    
    margin-right: 7% ;
    margin-left: 7% ;
}


#index-container {
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: floralwhite;
}
