{% extends 'bootstrap/base.html' %}
{% include "header.html" %}

{% block content %}
  
    <div class="container">
      
          <h1>Memory-Bons</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="{{url_for('show')}}" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">Show Bons</a>
          </p>
        
    </div>
        

    {% include "footer.html" %}
{% endblock %}

