
{% extends "header.html" %}


{% block content %}
  
    <div class="container d-flex flex-column align-items-center justify-content-center vh-100" id="index-container">
      
          <h1 class="text-center py-3">Memory-Bons</h1>
          <p class="lead text-center px-5">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead text-center py-3">
            <a href="{{url_for('show')}}" class="btn btn-lg btn-secondary fw-bold bg-dark">Show Bons</a>
          </p>
        
    </div>
        

    
{% endblock %}

{% include "footer.html" %}
