
{% extends "header.html" %}

{% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cards_style.css') }}">
  {{ super() }}
{% endblock %}



{% block content %}
  <div class="container position-sticky  text-center min-vw-100 mb-4 mx-0 py-5" id="show-header">  
  <h1 class="heading py-4">Your Bons</h1>
    <p>Just take one if you're feel like it, and let it take you to a time-traveling bliss.</p>
    <a href="{{url_for('add')}}" class="btn btn-light">Add New Memory</a>
  </div>

    <div class="container py-3 my-4">
      <div class="d-flex flex-row flex-wrap align-items-center justify-content-center ">
      {% for memory in memories: %}
      <div class="">
        <div class="flip-card m-2 ">
            <div class="flip-card-inner rounded">
              <div class="flip-card-front">
                <img src="{{memory.img_url}}" alt="Avatar" class=" card-img-top">
              </div>
              <div class="flip-card-back rounded">
                <h5 class="card-title">{{memory.title}}</h5>
                <p class="card-text">{{memory.description}}</p>
                <a href="{{url_for('delete', id=memory.id)}}" class="btn btn-dark">Delete</a>
                <a href="{{url_for('edit', id=memory.id)}}" class="btn btn-light">Edit</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   
</div>

{% endblock %}


{% include "footer.html" %}