
{% extends "header.html" %}

{% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/cards_style.css') }}">
  {{ super() }}
{% endblock %}



{% block content %}
  <div class="container  text-center my-4 py-5" id="show-header">  
  <h1 class="heading py-4">Your Bons</h1>
    <p>Just take one if you're feel like it, and let it take you to a time-traveling bliss.</p>
    <a href="{{url_for('add')}}" class="btn btn-light">Add New Memory</a>
  </div>

    <div class="container py-3 my-4">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for memory in memories: %}
      <div class="col">
        <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="{{memory.img_url}}" alt="Avatar" style="width:300px;height:300px;">
              </div>
              <div class="flip-card-back">
                
              <h5 class="card-title">{{memory.title}}</h5>
              <p class="card-text">{{memory.description}}</p>
              <a href="{{url_for('delete', id=memory.id)}}" class="btn btn-danger">Delete</a>
              <a href="{{url_for('edit', id=memory.id)}}" class="btn btn-warning">Edit</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   
</div>

{% endblock %}


{% include "footer.html" %}